$color-principal: #151515;
$color-index: white;
$color-menu-hover: #042470;

$fuente-titulos: 'Montserrat', sans-serif;
$fuente-parrafos: 'Questrial', sans-serif;
$fuente-tit-index: 'DM Mono', monospace;
$fuente-footer: 'Roboto', sans-serif;

$fondo-principal: #F9F5EB;
$fondo-letras: white;
