@import 'variables';

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: $color-principal;
    width: 100%;
    height: 60px;
    z-index: 10;
    font-family: $fuente-titulos;
    background-color: $fondo-principal;
}

.logo {
    width: auto;
    align-items: center;
}

.imgLogo {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 6px 0px 0px 8px;
}

.titulo {
    display: flex;
    width: 100%;
    margin-left: 6px;

    h1 {
        align-items: center;
        justify-content: center;
        font-size: 3.5rem;

        a {
            color: inherit;
            text-decoration: none;
        }

    }
}

.menuH {
    font-size: 30px;
    color: $color-principal;
    margin-right: 20px;
    cursor: pointer;
}


.menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 60px;
    background-color: $fondo-principal;
    text-align: center;
    transition: .5s;
    list-style: none;
    opacity: 0.9;

    li {
        display: none;
        line-height: 30px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
        }

        a {
            color: $color-principal;
            text-decoration: none;
            font-size: 1.2rem;

            &:hover {
                color: $color-menu-hover;
                font-weight: bolder;
            }
        }
    }
}

#check {
    display: none;

    &:checked~.menu {
        height: 165px;

        li {
            display: block;
        }
    }

}

#principal {
    display: flex;
    flex-direction: column;
    background-image: url(https://images.pexels.com/photos/5845978/pexels-photo-5845978.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin-top: 60px;
    align-items: center;
    opacity: 0.9;

    h2 {
        color: $color-index;
        text-align: center;
        font-size: 3.5rem;
        font-family: $fuente-tit-index;
        width: auto;
        padding-top: 10%;
    }

    p {
        color: $color-index;
        font-family: $fuente-parrafos;
        font-size: 2rem;
        width: 75%;
        margin-top: 10%;
        text-align: center;
    }

    .p1 {
        font-size: 2.2rem;
        margin-top: 12%;
        width: 75%;
    }

    a {
        background-color: #ff6337db;
        color: $color-index;
        font-family: $fuente-parrafos;
        font-size: 2rem;
        width: auto;
        display: block;
        margin: auto;
        padding: 10px;
        margin: 14%;
        text-align: center;
        text-decoration: none;
        transition: all .5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

#footer {
    background-color: $fondo-letras;
    color: $color-principal;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.footerR {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    width: 60%;
    margin-right: 5%;

}

.logoFooter {
    display: inline-block;
    display: flex;
    align-items: center;
    margin: 0 4px 0 6px;
}

.imgLogoFooter {
    width: 45px;
    height: 45px;
}

.flexFoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.titFooter {
    display: inline-block;
    font-family: $fuente-footer;
    font-size: 1rem;
}

.footerD {
    display: inline-block;
    font-size: 0.9rem;
    padding-top: 5px;
}

.footerL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
    width: 40%;

    h3 {
        display: inline-block;
        font-family: $fuente-footer;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 5px;
    }
}

.ig {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 40px;
}

#inspiracion {
    margin-bottom: 10px;

    h2 {
        margin: 80px 0 20px 0px;
        width: 100%;
        color: $color-principal;
        font-family: $fuente-titulos;
        font-size: 3rem;
    }

    .imgCenter {
        justify-content: center;

        img {
            width: 400px;
            height: 400px;
        }
    }

    img {
        transition: .5s;
        height: 200px;

        &:hover {
            transform: scale(1.2);
        }
    }
}

#productos {
    margin-bottom: 10px;

    .imgCenter {
        justify-content: center;

        img {
            width: 400px;
            height: 400px;
        }
    }

    .introduccion {
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin: 80px 0px 20px 0px;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
    }

    .parrafo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;

        p {
            text-align: center;
            font-family: "Questrial", sans-serif;
            font-size: 1.6rem;
            width: 100%;
            padding: 15px;
            background-color: #F9F5EB;
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                display: block;
                justify-content: center;
                text-decoration: none;
                font-size: 1.6rem;
                color: #F9F5EB;
                background-color: #253b5b;
                margin-top: 10px;
                padding: 8px;
                width: 200px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .galeriaProd {
        margin: 20px 0 20px 0px;
        font-family: $fuente-titulos;
        font-size: 3rem;
        background-color: $fondo-principal;
    }

    img {
        transition: .5s;
        height: 200px;
    }

    .card-body {
        background-color: #F9F5EB;
        border-radius: 5%;

        a {
            text-decoration: none;
            color: inherit;
        }
        h3{
            font-size: 1.3rem;
            font-family: "Questrial", sans-serif;
            border: black;
            padding: 3px;
            font-weight: bold;
          }
    }
    .card{
        border-radius:2% !important;
      }

}

#nosotros {
    h1 {
        margin-top: 75px;
        text-align: center;
        font-family: $fuente-titulos;
        font-size: 3rem;
        text-decoration: solid;
    }

    .tituloCon {
        width: 100%;
        background-image: url(https://images.pexels.com/photos/5845978/pexels-photo-5845978.jpeg?auto=compress&cs=tinysrgb&w=600);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.9;
        display: flex;
    }

    .texto {
        width: 60%;
        margin: 20%;
        color: $color-principal;
        width: 70%;
        text-align: center;
        display: inline-block;
        opacity: 0.7;

        h2 {
            font-family: $fuente-titulos;
            font-size: 2.5rem;
        }

        p {
            font-family: $fuente-parrafos;
            font-size: 1.6rem;
        }
    }

    .titNos {
        font-family: $fuente-titulos;
        font-size: 2rem;
        background-color: #F9F5EB;
        padding-bottom: 6px;

    }

    .parNos {
        font-family: $fuente-parrafos;
        font-size: 1.3rem;
    }
}

#formulario {
    margin-top: 70px;
    background-image: url(https://images.pexels.com/photos/5845978/pexels-photo-5845978.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        width: 60%;
        height: 65%;
        background-color: $fondo-letras;
        padding: 15px;
        border-radius: 2%;
        font-family: $fuente-parrafos;
        opacity: 0.9;

        h2 {
            font-family: $fuente-titulos;
            font-size: 3rem;
        }

        hr {
            padding-bottom: 8px;
        }
    }
}

@import 'mediasQuery'